
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  background-image: url('../images/header-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'Karla', serif;
}
.container-fluid {
  background-color: #111;
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
}
.nav-image {
 img {
   height: 100px;
   width: 300px;
   padding: 20px 0 20px 100px;
 }
}
.icons {
  color: #fff;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  i {
    margin-right: 30px;
  }
}
.nav-bar {
  background-color: #004ca8;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  i {
    margin-left: 5px;
  }
}

.mid-page {
  h1 {
    color: #fff;
    text-align: center;
    font-size: 43px;
    letter-spacing: 2px;
    padding-top: 50px;
  }
  p {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
}
.btn {
  background-color: #004ca8;
  color: #fff;
  border-color: #004ca8;
  text-align: center;
  padding: 10px 40px 10px 40px;
  font-size: 16px;
  letter-spacing: 1px;
}
